body{
    margin:0px;
    padding: 0px;
    background:#f0f0f0;
    position: relative;
    height: 100vh;
}.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}.toggle-btn{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;

}.toggle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background: #979797;

}.toggle-btn span:nth-child(1){
    top: 0;

}.toggle-btn span:nth-child(3){
    top: 100%;
    
}.logo{
    height: 50px;
    margin: 0px 30px 0;
}.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
    margin-left: 130px;
}.search-bar{
    width: 155%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding:0 20px;
    font-size: large;
    text-transform: capitalize;
    
}.search-btn{
    width: 15%;
    height: 112%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
}.search-btn img{
    height: 80%;
}.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}
#audio{
    margin-right: 50px;
}
.user-options .icon{
    height: 60%;
    margin-right: 45px;
    cursor: pointer;
   
}.user-dp{
    height: 35px;
    width: 35px;
    cursor: pointer;
    border-radius: 50%;
   overflow: hidden;
   margin-right: 100px;
}.user-dp img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}.side-bar{
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 60px);
    background: #fff;
    padding-right: 80px;
    
}.links{
    display: block;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
}.links img{
    height: 20px;
    margin-right: 20px;
}#show{
    height: 10px;
    
}.links:hover,
.links.activate{
    background: rgba(0,0,0,0.1);

}
.separator{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 20px 0;
}
.filters{
    position: fixed;
    left: 330px;
    top: 60px;
   width: calc(100%- 250px);
    height: 70px;
    background: #fff;
    border-top:1px solid #dbdbdb ;
     
    border-bottom:1px solid #dbdbdb ;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

}.filters::-webkit-scrollbar{
    display: none;
}
.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 30px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 5px;
    color: #242424;
    font-size: large;
    cursor: pointer;

}.filter-options.active{
    color: #fff;
    background: #242424;
}
.video-container{
    width: calc(100%- 250px);
    margin-top: 120px;
    margin-left: 310px;
    padding: 20px;
    padding-right: 90px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
    /*background:#000 ;*/
}.video{
    min-height: 25opx;
    height: auto;

}.thumbnail{
    width: 130%;
    height: 150px;
    object-fit: cover;
     margin-left: 20px;
     margin-top: 10px;
}.content{
    width: 100px;
    height: 100px;
    padding: 30px;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    /*background: #f00;*/
}.channel-icon{
    width:45px;
    height:45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    
    margin-top: -10px;
}
.info{
    height: 60px;
    width: 200px;
}.title{
    width: 190px;
    height: 20px;
    /*overflow: hidden;*/
    margin-top: -10px;
}.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;
}
